html {
  margin: 10px;
  padding: 10px;

}

body{
  overflow: hidden;
  background-color: transparent;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.commandFont{
  font-family: 'Consolas',
  
}

.autocompleteStyle{
  font-family: 'Consolas';
}

@media (max-width:960px) {
  #mainwindow{
    display: none;
  }
  #profilepic {
    width: 90%;
  }
}
@media (min-width:960px) {
  #phonewindow{
    display: none;
  }

  #profilepic:hover{
    cursor: pointer;
  }

}